h1 {
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: orange;
}

.cor-favorita {
    background-color: orange;
}

p {
    font-weight:600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}